.containers{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82%;
  width: 100%;
  position: fixed; 
  left: 0%;
  top: 9%;
}

.footer{
  display: flex;
  justify-content: space-between;
  background-color: black;

  color: lightblue;

  height: 9%;
  width: 100%;

  position: fixed;
  bottom: 0;
  left: 0%;
}

.footerButtons{
  background-color:lightblue;
  border-style: groove;
  border-color: lightblue;

  height: 60%;
  width: 20%;
 
}

.footerLeft{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 60%;
}



.footerRight{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 100%;
  width: 30%;

}

.navBar{
  display:flex;
  justify-content: space-between;
  background-color: black;

  height: 9%;
  width: 100%;
  
  position: fixed;
  top: 0;
  left: 0%;

}

.navBarButtons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 30%;
}


.navButtons{
  background-color:lightblue;
  border-style: groove;
  border-color: lightblue;

  height: 60%;
  width: 20%;

}

#LogoText{
  color: black;
}

#LogoImage{
  height: 100%;
  width: 50%;
}

.navBarLogo{
  display: flex;
  background-color: lightblue;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%
}

.navBarLinks{
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 50%;
}


.navLinks{
  display: flex;
  justify-content: center;
  align-items: center;
  color:lightblue;
}

/* 
cardfront css
 */

/* .cardButtons{
  display: flex;
  justify-content: center;
}

.cardFrontBody{
  display:flex;
  justify-content: center;
  background-color: white;
  text-decoration-line: underline;
  text-decoration-color: lightblue;
  width: 99vw;
  height: 55vh;
}







.flipButtons{
  color:red;
  background-color: white;
  height: 5vh;
  width: 10vw;
}



.cardTitle{
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  border-bottom-style: solid;
  border-color: #FF0000;
  height: 5vh;
  width: 97vw;
}







.newCard{
  border-style: solid;
  border-color: black;
} */









