
.ErrorPage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 87%;
  width: 100%;
  position: fixed; 
  left: 0%;
  top: 7%;
}

.ExamMode{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 87%;
  width: 100%;
  position: fixed; 
  left: 0%;
  top: 7%;
  background-color: bisque;
  font-size: larger;
}



.Home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 87%;
  width: 100%;
  position: fixed; 
  left: 0%;
  top: 7%;
  font-family: 'Permanent Marker', cursive;
}

.FlashCards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 87vh;
  width: 100vw;
  position: fixed; 
  left: 0vh;
  top: 7vw;
  font-size: larger;
}

.FlashCardsButtons{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
  height: 10%;
  width: 10%;
  border-style: ridge;
  border-color: white;
}






.footer{
  display: flex;
  justify-content: space-between;
  background-color: black;

  color: lightblue;

  height: 6vh;
  width: 100vw;

  position: fixed;
  bottom: 0vh;
  left: 0vw;
  font-size: medium;
  font-family: 'Permanent Marker', cursive;
}

.footerButtons{
  border-style: hidden;
  /* border-radius: 50%;
  border-color: lightblue; */
  height: 6vh;
  width: 9vw;
 background-color: black;
}

.footerLeft{
  display: flex;
  align-items: center;
  position: relative;
  left: 1vw;
  height: 6vh;
  width: 49vw;
}


.footerRight{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 6vh;
  width: 49vw;

}

.navBar{
  display:flex;
  justify-content: space-between;
  background-color: black;

  height: 7vh;
  width: 100vw;
  
  position: fixed;
  top: 0vh;
  left: 0vw;

}

.navBarButtons{
  display: flex;
  justify-content: end;
  align-items: center;
  height: 7vh;
  width: 9vw;
  color: lightblue;
  
}


.navButtons{
  background-color: black;
  border-style: hidden;
  height: 7vh;
  width: 9vw;
}

.navButtons:hover{
  background-color: white;
  cursor: pointer;
}

.footerButtons:hover{
  background-color: white;
  cursor: pointer;
}

#LogoText{
  display: flex;
  align-items: center;
  justify-content: center;
  color: lightblue;
  font-family: 'Permanent Marker', cursive;
  font-size: medium;
}

#LogoText:hover{
  color: black;
  background-color: lightblue
}

#LogoImage{
  height: 7vh;
  width: 9vw;
}

.navBarLogo{

  background-color: black;
  height: 7vh;
  width: 9vw;
}

.navBarLinks{
  display: flex;
  justify-content: space-between;
  height: 7vh;
  width: 82vw;
}


.navLinks{
  display: flex;
  justify-content: center;
  align-items: center;
  color:lightblue;
  font-family: 'Permanent Marker', cursive;
  font-size: medium;
  height: 7vh;
  width: 19vw;

}

.navLinks:hover{
  background-color: lightblue;
  color: black;
}








#CardTitle{
  position: relative;
  top: 0.7vh;
  height: 3vh;
  width: 30vw;
  font-family: 'Permanent Marker', cursive;
  text-align:center;
  font-size: 2vh;
}

#CardTitle::placeholder{
  text-align:center;
  color: gray;
}

#cardFront{
  display: flex;
  background-image: url('/src/assets/flashcard.png');
  background-size: 100% 100%;
  height: 60vh;
  width: 80vw;
  border-style: outset;
  border-color: gray;
  flex-direction: column;
  align-items: center;
}





#textAreaFront{
  height: 33vh;
  width: 60vw;
  font-family: 'Permanent Marker', cursive;
  font-size: larger;
  background-image: url('/src/assets/flashcard.png');
  background-position-y: -10vh;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 100vw 60vh;
  position: relative;
  top: 11.2vh;
  text-align:center;
  line-height: 5vh;
}

#textAreaFront::placeholder{
  text-align: center;
  line-height: 26vh;
}

#textAreaBack::placeholder{
  text-align: center;
  line-height: 50vh;
}

.PageTitle{
  font-family: 'Permanent Marker', cursive;
}

.newCards{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 87vh;
  width: 100vw;
  position: fixed; 
  left: 0%;
  top: 7%;
  font-size: larger;
  background-color: lightblue;
  
}


#cardBack{
  display: flex;
  height: 56vh;
  width: 90vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


#textAreaBack{
  height: 54vh;
  width: 79.8vw;
  font-family: 'Permanent Marker', cursive;
  font-size: larger;
  text-align:center;
  position: relative;
  top: -0.60vh;
  border-style: outset;
  border-color: gray;
  border-width: .25vh;
}

#flipButtonFront{
  position: relative;
  top: 2vh;
  height: 7vh;
  width: 10vw;
  border-style: groove;
  border-color: black;
  background-color: white;
}

#flipButtonBack{
  position: relative;
  top: 2vh;
  height: 7vh;
  width: 10vw;
  border-style: groove;
  border-color: black;
  background-image: url('src/assets/flashcard.png');
  background-size: 10vw 10vh;
  background-color: white;
}

#SubmitButton:hover{
  background-color: black;
  color: lightblue;
  border-style: groove;
  border-color: white
}

#flipButtonFront:hover{
  background-color: lightblue;
}

#flipButtonBack:hover{
  background-image: none;
  background-color: lightblue;
}

.SubmitButton{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-family: 'Permanent Marker', cursive;
  height: 4vh;
  width: 20vw;
  font-size: larger;
  border-style: groove;
  border-color: black;
  position: relative;
  top: 0vh;
}

#SubmitButton{
  color: black;

}



.myFlashCards{
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 50vh;
  width: 80vw;
  border-style: outset;
  border-color: gray;
}

.displayCards{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 3000px;
  width: 80vw;
  color: black;
  font-family: 'Permanent Marker', cursive;
}

.displayCards:hover{
  background-color: black;
  color: lightblue;
}

