
.ErrorPage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 87%;
  width: 100%;
  position: fixed; 
  left: 0%;
  top: 7%;
}

.ExamMode{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 87%;
  width: 100%;
  position: fixed; 
  left: 0%;
  top: 7%;
  background-color: bisque;
  font-size: larger;
}

.childDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
  border-style: outset;
  border-color: gray;
}

.Home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 87%;
  width: 100%;
  position: fixed; 
  left: 0%;
  top: 7%;
  font-family: 'Permanent Marker', cursive;
}

.FlashCards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 87%;
  width: 100%;
  position: fixed; 
  left: 0%;
  top: 7%;
  background-color: lightblue;
  font-size: larger;
}

.FlashCardsButtons{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
  height: 10%;
  width: 10%;
  border-style: ridge;
  border-color: white;
}

.newCards{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 87%;
  width: 100%;
  position: fixed; 
  left: 0%;
  top: 7%;
  font-size: larger;
  
}





.footer{
  display: flex;
  justify-content: space-between;
  background-color: black;

  color: lightblue;

  height: 6%;
  width: 100%;

  position: fixed;
  bottom: 0;
  left: 0%;
  font-size: medium;
  font-family: 'Permanent Marker', cursive;
}

.footerButtons{
  border-style: hidden;
  /* border-radius: 50%;
  border-color: lightblue; */
  height: 90%;
  width: 25%;
 background-color: black;
}

.footerLeft{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 1%;
  height: 100%;
  width: 70%;
}


.footerRight{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 30%;

}

.navBar{
  display:flex;
  justify-content: space-between;
  background-color: black;

  height: 7%;
  width: 100%;
  
  position: fixed;
  top: 0;
  left: 0%;

}

.navBarButtons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 20%;
  color: lightblue;
  
}


.navButtons{
  background-color: black;
  border-style: hidden;
  height: 90%;
  width: 40%;
}

.navButtons:hover{
  background-color: white;
}

.footerButtons:hover{
  background-color: white;
}

#LogoText{
  color: lightblue;
  font-family: 'Permanent Marker', cursive;
  font-size: 99%;
}

#LogoText:hover{
  color: black;
  background-color: lightblue
}

#LogoImage{
  height: 100%;
  width: 50%;
}

.navBarLogo{
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  height: 99%;
  width: 20%
}

.navBarLinks{
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 60%;
}


.navLinks{
  display: flex;
  justify-content: center;
  align-items: center;
  color:lightblue;
  font-family: 'Permanent Marker', cursive;
  font-size: 95%;
  height: 100%;
  width: 20%;

}

.navLinks:hover{
  background-color: lightblue;
  color: black;
}




#flipButtonFront{
  height: 5%;
  width: 5%;
  border-style: groove;
  border-color: black;
}

#flipButtonBack{
  background-image: url('/src/assets/flashcard.png');
  background-size: 100% 100%;
  height: 5%;
  width: 5%;
  border-style: groove;
  border-color: black;
}

#CardTitle{
  position: relative;
  top: 70%;
  font-family: 'Permanent Marker', cursive;
}

#cardFront{
  display: flex;
  background-image: url('/src/assets/flashcard.png');
  background-size: 100% 100%;
  height: 80%;
  width: 80%;
  border-style: outset;
  border-color: gray;
  flex-direction: column;
  align-items: center;
}

#cardBack{
  display: flex;
  height: 80%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#textAreaBack{
  height: 75%;
  width: 80%
}

#textAreaFront{
  position: relative;
  top: 158%;
  height: 209%;
  width: 100%;
  font-family: 'Permanent Marker', cursive;
  font-size: larger;
  background-image: url('/src/assets/flashcard.png');
  background-position-y: -305px;
  background-repeat: no-repeat;
  background-size: 100% 210%;
}

.PageTitle{
  font-family: 'Permanent Marker', cursive;
}